{% extends 'base.html' %}

{% block bodyblock %}

    <br> <br><br>
    <h1 style="text-align: center; color:azure; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <b>COVID X-RAY Classifier</b>
    </h1>
    <h2 style="text-align: center; color: black; font-family:'Times New Roman';"><b>
      AI  Model  to  predict if the  X-RAY submitted has Covid!
    </b>
    </h2>
    <br>
    <h3 style="text-align: center;color:firebrick; font-family:'Times New Roman', Times, serif; "><b>
      <strong>The X-RAY can be Covid on NonCovid</strong> <br></b>
  </h3>
  </h4 >     
      <span style="text-align:center;color:whitesmoke;"> Go  to  <b style="font-size:25px;">'Predict'</b>  section in navbar to  upload  the   X-RAY  and  Predict  the  X-RAY</span>
    </b></h4><br><br>



    <!-- Footer -->


    {% endblock %}
